* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'League Spartan', sans-serif;
  font-weight: 200;
  font-style: normal;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body::before {
  content: '';
  position: fixed;
  inset: 0 0 auto 0;
  height: 100dvh;
  background-color: black;
  background-size: cover;
  z-index: -1;
}

.a {
  text-decoration: none;
}

.showreel {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20vh;
}

.column:hover {
  cursor: pointer;
}

ul {
  padding: 0;
}

.ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.li {
  color: #b9bb47;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
}

li:hover {
  cursor: pointer;
  color: #fcff58;
}

h3 {
  color: #b9bb47;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

h3:hover {
  color: #fcff58;
}

p {
  line-height: 1.5rem;
  margin-bottom: 4rem;
}

h2 {
  color: #b9bb47;
  font-weight: 700;
  font-size: 3rem;
  margin: 1% 1% 1% 1%;
  width: min-content;
}

.rotated {
  transform: rotate(90deg);
  position: absolute;
  top: 20px;
  left: 0vw;
  width: 5vw;
}

.section {
  position: relative;
  min-height: 10rem;
  border-top: 1px solid #b9bb47;
}

.section2 {
  position: relative;
  border-top: 1px solid #b9bb47;
  border-bottom: 1px solid #b9bb47;
}

.section5 {
  position: relative;
  border-top: 1px solid #b9bb47;
}

.column2 {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  height: 300px;
  gap: 2rem;
}

.column3 {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 1rem;
}

.icon {
  width: 5vw;
  height: 5vw;
  margin: 1rem;
  opacity: 70%;
  text-decoration: none;
}

.icon:hover {
  opacity: 100%;
}

.cv {
  text-align: center;
  font-size: 3vw;
  font-weight: 700;
  margin: 1rem;
}

@media screen and (min-width: 2000px) {
  .section1 {
    height: 35vh;
  }

  .section2 {
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon {
    margin-top: 12rem;
  }

  .li {
    font-size: 2vw;
  }

  h2 {
    font-size: 3vw;
    margin: 2% 2% 2% 2%;
  }
}

@media screen and (max-width: 1062px) {
  .li {
    padding: none;
    margin-top: 5vw;
    font-size: 3vw;
  }

  h2 {
    font-size: 4.5vw;
  }
}

@media screen and (max-width: 600px) {
  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 220px;
  }

  .li {
    padding: none;
    margin-top: 5vw;
    font-size: 3vw;
  }

  h2 {
    font-size: 4.5vw;
  }

  .icon {
    width: 10vw;
    height: 10vw;
  }
}
